.imgOne{
    width:300px;
   
}
p{
    font-family: 'Roboto', Arial;
}
.video-titleOne{
    margin-top:0px;
    font-size:14px;
    font-weight:500;
    line-height:20px;
   
}
.video-statOne{
    opacity:0.4;
    
}

.video-authorOne{
    opacity:0.4;
   
}

.video-one{
  width:300px;
  display:inline-block;
  margin-left:30px;
  vertical-align:top; 
}
.search-bar{
 display:block;    
}

.channel-picture{
    display:inline-block;
        width:50px;
        vertical-align:top; 
       
}
.video-info{
    display:inline-block;
    width:200px;
}
.profile-picture{
    width:40px;
    border-radius:30px;
}
.thumbnail-row{
    margin-bottom:12px;
    margin-top:12px;
}
